<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div id="app">
    <div style="height: 80px"></div>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, createdAt, text, author }) => { %>
      <div id="post" data-post-id="<%= id %>">
      <article>
        <a href="/posts/<%= id %>">
            <h1>
              <%= title %>
            </h1>
        </a>
          <span class="author">@<%= author %></span>
          <div class="post-text">
            <p><%= text %></p>
          </div>
        <div class="info">
            <span class="date"><%= createdAt.toLocaleDateString() %></span>
          </div>
        <a href="/posts/<%= id %>">
          <div class="read">читать</div>
        </a>
      </article>
      </div>
      <% }) %>
    <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>

</body>
</html>
